@charset "utf-8";


.w1200{
    width: 1000px;
    margin: 0 auto;
}

.h300{
    height: 300px!important;
}



table
{
    border-collapse:collapse;
    background-color: #ffffff;
    /*margin-left: 25px;*/
}
table{

}
th{
    text-align: center;
    border: 1px solid #d92763;
}
td
{
    border: 1px solid #e9e9e9;
    text-align: center;
}
th, td{
    width: 175px;
    height: 34px;
}
th{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    background-color: #d92763;
}

td{
    font-size: 14px;
    color: #666666;
}










/*轮播图样式*/
.call_cl_b .banner_slide{
    height: 200px;
    overflow: hidden;
}
.call_cl_b .slide li{
    height: 200px;
}


.tj_div_font3{
    background: url(../images/font3.png) no-repeat;
    width: 215px;
    height: 60px;
    margin-left: 18px;
    margin-top: 10px;
    background-size: 80%;
}


.cur1{
    display: none;
}
.show{
    display: block;
}


/*优音云客服*/
.call_cl p.p_top{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin-top: 50px;
}

.call_cl h3{
    font-size: 24px;
    color: #d92763;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.call_cl h3.xyd_ab:before{
    position: absolute;
    top: 8px;
    left: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.call_cl h3.xyd_ab:after{
    position: absolute;
    top: 8px;
    right: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}



.call_qd_fw h3{
    font-size: 24px;
    color: #d92763;
    text-align: center;
    margin-top: 40px;
    position: relative;
    margin-bottom: 40px;
}
.call_qd_fw h3.xyd_ab:before{
    position: absolute;
    top: 8px;
    left: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.call_qd_fw h3.xyd_ab:after{
    position: absolute;
    top: 8px;
    right: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}




.call_kt h3{
    font-size: 24px;
    color: #d92763;
    text-align: center;
    margin-top: 30px;
    position: relative;
}
.call_kt h3.xyd_ab:before{
    position: absolute;
    top: 8px;
    left: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.call_kt h3.xyd_ab:after{
    position: absolute;
    top: 8px;
    right: 375px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}


.call_cl h5{
    font-size: 20px;
    color: #d92763;
    /*text-align: center;*/
    margin-top: 27px;
    position: relative;
}

.call_cl h5:after{
    position: absolute;
    top: 30px;
    left: 0px;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #d92763;
}


.call_jq .call_jq_p{
    margin-top: 35px;
}

.call_jq p{
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}




.call_cl .call_ff p.p_top1{
    font-size: 14px;
    color: #333333;
    margin-top: 25px;
}
.call_cl .call_ff .tablist ul{
}
.call_cl .call_ff .tablist ul li{
    width: 200px;
    height: 93px;
    line-height: 93px;
    color: #666666;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.call_cl .call_ff .tablist ul li.cur{
    background-color: #d92763;
    color: #ffffff;
    cursor: pointer;
}

.call_cl .call_ff .tabcon ul{
    width: 796px;
    margin-left: 1px;
}

.call_cl .call_ff .tabcon ul li{
    float: left;
    width: 197px;
    height: 60px;
    line-height: 61px;
    text-align: center;
    border: 1px solid #e9e9e9;
    font-size: 18px;
    color: #666666;
    position: relative;
}


.call_cl .call_ff .tabcon ul li .zf_1{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    width: 199px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.call_cl .call_ff .tabcon ul li:hover .hm_1{
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.call_cl .call_ff .tabcon ul li:hover .zf_1{
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    background-color: #02c8c2;
}


.call_cl .call_ff .call_tc{
    border: 1px solid #d92763;
}

.call_cl .call_ff .call_tc ul li:nth-child(1){
    width: 495px;
    height: 290px;
    float: left;
}
.call_cl .call_ff .call_tc ul li:nth-child(2){
    width: 490px;
    height: 290px;
    float: left;
}

.call_cl .call_ff .call_tc ul li h3{
    color: #d92763;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 19px auto;
    padding-left: 60px;
}
.call_cl .call_ff .call_tc ul li span.display_span{
    display: block;
    font-style: italic;
    font-size: 16px!important;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 15px;
}
/*.call_cl .call_ff .call_tc ul li span{
    display: block;
    font-style: italic;
    font-size: 18px;
    color: #ffffff;
    margin-left: 25px;
}*/

.call_cl .call_ff .call_tc ul li a.a_ml{
    margin-left: 385px!important;
}

.call_cl .call_ff .call_tc ul li a:hover{
    background-color: #bd2458;
}

.call_cl .call_ff .call_tc ul li a{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #d92763;
    color: #ffffff;
    font-size: 16px;
    margin-left: 365px;
    margin-top: 15px;
    cursor: pointer;
}
.call_cl .call_ff .call_tc ul li a span{
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    display: block;
    margin-right: 0px;
}

.call_cl .call_ff .call_tc ul li p.p_p{
    color: #ffffff;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 10px;
}

.call_cl .call_qd p.qd_p{
    font-size: 14px;
    color: #333333;
    text-align: justify;
    margin: 30px 0px;
}



.call_cl .call_ff .call_tc ul li table tr th,.call_cl .call_ff .call_tc ul li table tr td{
    width: 122px;
    height: 34px;
}
.call_cl .call_ff .call_tc ul li table{
    /*margin-left: 25px;*/
}

.call_cl .call_ff .call_tc ul li.litable table tr th,.call_cl .call_ff .call_tc ul li.litable table tr td{
    width: 130px;
    height: 34px;
}
.call_cl .call_ff .call_tc ul li.litable table{
    /*margin-left: 25px;*/
}





/*平台功能强大*/
.picScroll-left .hd{
    position: relative;
}
.picScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
    position: absolute;
    top: 220px;
    left: 445px;
}

.picScroll-left .hd ul li {
    float: left;
    width: 34px;
    height: 6px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url("../images/icoCircle2.png") 0 -6px no-repeat;
}

.picScroll-left .hd ul li.on {
    background-position: 0 0;
}


.qd_div{
    margin-bottom: 50px;
}
.qd_div ul.ul1 li{
    width: 248px;
    /*width: 198px;*/
    height: 213px;
    float: left;
    border: 1px solid #d92763;
    /*border-radius: 2px;*/
    /*margin: 0px 2px;*/
}

/*.qd_div ul.ul1 li:nth-child(3){
    border-right: none;
}
.qd_div ul.ul1 li:nth-child(2){
    border-right: none;
}
.qd_div ul.ul1 li:nth-child(4){
    border-right: none;
}
.qd_div ul.ul1 li:nth-child(5){
    /!*border-right: none;*!/
}
.qd_div ul.ul1 li:nth-child(6){
    /!*border-right: none;*!/
}

.qd_div ul.ul1 li:nth-child(7){
    /!*border-right: none;*!/
}

.qd_div ul.ul1 li:nth-child(8){
   /!* border-right: none;*!/
}
.qd_div ul.ul1 li:nth-child(9){
    /!*border-right: none;*!/
}*/






.qd_div ul.ul1 li div{
    float: left;
}
.qd_div ul.ul1 li div.ss_div{
    width: 244px;
   /* height: 120px;*/
    text-align: center;
}
.qd_div ul.ul1 li div.ss_div img{
    margin-top: 20px;
}

.qd_div ul.ul1 li div.ss_div1{
    padding: 0 28px 0px;
    /*border-left: 1px solid #ffbe5a;*/
    margin-top: 10px;
    height: 100px;
}

.qd_div ul.ul1 li h3{
    font-size: 16px;
    color: #d92763;
    padding: 25px 0px 5px;
    text-align: inherit;
    margin-top: -11px;
    font-weight: bold;
}
.qd_div ul.ul1 li p{
    width: 225px;
    /*height: 76px;*/
    font-size: 14px;
    color: #888888;
    text-align: justify;
    line-height: 24px;
}












.qd_div_fw{
    margin-bottom: 50px;
}
.qd_div_fw ul.ul1 li{
    /*width: 248px;*/
    width: 198px;
    height: 213px;
    float: left;
    border: 1px solid #d92763;
    /*border-radius: 2px;*/
    /*margin: 0px 2px;*/
}
.qd_div_fw ul.ul1 li div{
    float: left;
}
.qd_div_fw ul.ul1 li div.ss_div{
    width: 198px;
     height: 110px;
    text-align: center;
}
.qd_div_fw ul.ul1 li div.ss_div img{
    margin-top: 20px;
}

.qd_div_fw ul.ul1 li div.ss_div1{
    width: 198px;
    /*padding: 0 15px 0px;*/
    /*border-left: 1px solid #ffbe5a;*/
    margin-top: 10px;
    height: 100px;
    position: relative;
}

.qd_div_fw ul.ul1 li:hover div.ss_div1 a{
    -webkit-transform: translate(20px,0px);
    -moz-transform: translate(20px,0px);
    -ms-transform: translate(20px,0px);
    -o-transform: translate(20px,0px);
    transform: translate(20px,0px);
    opacity: 1;
}


.qd_div_fw ul.ul1 li div.ss_div1 a{
    position: absolute;
    bottom: 20px;
    right: 40px;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    opacity: 0;
}

.qd_div_fw ul.ul1 li h3{
    font-size: 16px;
    color: #d92763;
    padding: 10px 0px 5px;
    text-align: center;
    margin-top: -30px;
    font-weight: bold;
}
.qd_div_fw ul.ul1 li p{
   /* width: 198px;*/
    height: 60px;
    font-size: 14px;
    color: #333333;
    text-align: justify;
    line-height: 20px;
    padding: 0px 20px;
    margin-top: -30px;
}





.call_jq .jq_div .jq_div1{
    margin-left: 50px;
    margin-top: 25px;
}

.call_jq .jq_div .jq_div1 ul{
    margin-left: 300px;
    margin-top: -215px;
}


.call_jq .jq_div .jq_div1 ul li{
    font-size: 18px;
    color: #666666;
    margin-top: 15px;
    position: relative;
}
.call_jq .jq_div .jq_div1 ul li i{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #d92763;
    position: absolute;
    top: 8px;
    left: -15px;
}

.call_jq .jq_div .jq_div1 ul li:nth-child(2){
    margin-left: 20px;
}
.call_jq .jq_div .jq_div1 ul li:nth-child(3){
    margin-left: 20px;
}





.call_jq .jq_div .jq_div2{
    width: 447px;
}

.call_jq .jq_div .jq_div2 h6{
    height: 40px;
    line-height: 40px;
    background-color: #d92763;
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 75px;
}


.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2{
    padding-left: 60px;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 label{
    color: #d92763;
    font-size: 16px;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input{
    border: none;
    background-color: #FFFFFF;
    width: 197px;
    height: 35px;
    margin-top: 10px;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input.width140{
    width: 120px;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input:focus{
    background-color: #ffffff;
    border: 1px solid #d92763;
    width: 195px;
    height: 33px;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input.comment:focus{
    background-color: #ffffff;
    border: 1px solid #d92763;
    width: 118px;
    height: 33px;
}
.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input.sbutton{
    width: 130px;
    height: 36px;
    background-color: #d92763;
    color: #ffffff;
    font-size: 18px;
    margin-left: 146px;
}
.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input.sbutton:hover{
    background-color: #d92763;
    cursor: pointer;
}

.call_jq .jq_div .jq_div2 .jq_div2_bd .sec2 input.sbutton:focus{
    border: none;
}


select.four_select {
    border: none;
    background-color: #FFFFFF;
    width: 197px;
    height: 35px;
    margin-top: 10px;
}

















/*平台扩展性极强*/

.call_jq .jq_div{
    height: 294px;
    background-color: #f5f5f5;
    margin-top: 15px;
}
.call_jq .jq_div p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin-left: 100px;
    margin-top: -75px;
}


.call_jq .jq_tijiao{
    height: 60px;
    background-color: #ffbe5a;
    margin-top: 30px;
}

/*.call_jq .jq_tijiao p.p1{
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}*/

.call_jq .jq_tijiao .tj_div{
    width: 185px;
}

.call_jq .jq_tijiao .tj_div1{
    width: 800px;
    margin-top: 15px;
}
.call_jq .jq_tijiao .tj_div1 label{
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}
.call_jq .jq_tijiao .tj_div1 input.width140{
    width: 70px;
}
.yzm{
    display: inline;
    vertical-align: middle;
    height: 35px;
    margin-top: 13px;
    width: 70px;
}



.call_jq .jq_tijiao .tj_div1 input{
    width: 130px;
    height: 30px;
    background-color: #ffe5bd;
    border: none;
}
.call_jq .jq_tijiao .tj_div1 input:focus{
    background-color: #ffffff;
}
.call_jq .jq_tijiao .tj_div1 input.sbutton2{
    cursor: pointer;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 0px;
}
.call_jq .jq_tijiao .tj_div1 input.sbutton2:hover{
    background-color: #e44451;
}


/*圆圈和三角形*/
.ani_i{
    border-radius: 10px;
    background-color: white;
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: block;
    margin-left: 100px;
    margin-top: -22px;
}

.ani_o{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 5px 5px 5px 7px;
    border-style: solid;
    border-color: transparent transparent transparent #ff4b5a;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -5px;
}

.ani_i1{
    border-radius: 9px;
    background-color: white;
    width: 18px;
    height: 18px;
    line-height: 17px;
    display: inline-block;
    margin-left: 10px;
}

.ani_o1{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 6px 6px 6px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ff9e09;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -3px;
}






/*不规则菱形*/
.bor1{
    border-top: 1px solid #ffbe5a;
    width: 251px;
    text-align: center;
    position: relative;
    margin: 20px auto;
}

.bg1{
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    left: 86px;
    width: 53px;
    height: 16px;
    padding-left: 26px;
}
.diamond{
    width: 0;
    height: 0;
    border-bottom: 8px solid #ffbe5a;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.diamond1 {
    width: 0;
    height: 0;
    border-top: 8px solid #ffbe5a;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}



/*优音云客服通信平台*/

.call_pl{
    background-color: #f8f5f1;
}

.call_pl h3{
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
}

.call_pl p.p_top{
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin-top: 24px;
}

.call_pl ul{
    padding: 30px 0px 40px 0px;
}
.call_pl ul li{
    width: 248px;
    height: 300px;
    float: left;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.call_pl ul li:nth-child(1){
    border: 1px solid #ffbe5a;
}
.call_pl ul li:nth-child(2){
    border-right: 1px solid #ffbe5a;
    border-top: 1px solid #ffbe5a;
    border-bottom: 1px solid #ffbe5a;
}
.call_pl ul li:nth-child(3){
    border-right: 1px solid #ffbe5a;
    border-top: 1px solid #ffbe5a;
    border-bottom: 1px solid #ffbe5a;
}
.call_pl ul li:nth-child(4){
    border-right: 1px solid #ffbe5a;
    border-top: 1px solid #ffbe5a;
    border-bottom: 1px solid #ffbe5a;
}
.call_pl ul li h5{
    font-size: 18px;
    color: #ffbe5a;
    text-align: center;
    margin: 15px 0px;
}
.call_pl ul li p{
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding: 0 24px;
}

.call_pl ul li div.pl_div p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    padding: 0px 20px;
}
.call_pl ul li div.pl_div p span{
    color: #ffbe5a;
    padding-right: 10px;
}

.call_pl ul li img{
    margin: 28px 82px 30px;
}

.call_pl ul li div.pl_div{
    position: absolute;
    top: 300px;
    left: 0px;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;

    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
    -ms-transform: translate3d(0,0px,0);
    -moz-transform: translate3d(0,0px,0);
    -o-transform: translate3d(0,0px,0);
}
.call_pl ul li:hover div.pl_div1{
    opacity: 0;
    -webkit-transform: translate3d(0,130px,0);
    transform: translate3d(0,130px,0);
    -ms-transform: translate3d(0,130px,0);
    -moz-transform: translate3d(0,130px,0);
    -o-transform: translate3d(0,130px,0);
}

.call_pl ul li div.pl_div1,.call_pl ul li div.pl_div{
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.call_pl ul li:hover{
    background-color: #ffffff;
}
.call_pl ul li:hover div.pl_div{
    -webkit-transform: translate3d(0,-168px,0);
    transform: translate3d(0,-168px,0);
    -ms-transform: translate3d(0,-168px,0);
    -moz-transform: translate3d(0,-168px,0);
    -o-transform: translate3d(0,-168px,0);
}
.call_pl ul li div.pl_div{
    /*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;*/
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    -o-transform: translate3d(0,10px,0);
}




/*优音云客服的优势*/

.call_ad h3{
    font-size: 22px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}

.call_ad div.f_fdiv{
    background-color: #ffbe5a;
    width: 246px;
    height: 282px;
}

.call_ad div.f_fdiv h5{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.call_ad div.f_fdiv p{
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
    padding: 0 27px;
}
.call_ad div.f_fdiv img{
    padding: 5px 72px;
}

.call_ad div.f_fdiv a{
    display: inline-block;
    width: 121px;
    height: 31px;
    background-color: #ff9e09;
    color: #ffffff;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    margin-left: 63px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ba6515;
}

.call_ad ul.f_ful1{
    width: 754px;
    height: 280px;
}

.call_ad ul.f_ful1 li{
    width: 187px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    float: left;
    position: relative;
}

.call_ad ul.f_ful1 li:nth-child(1){
    border: 1px solid #fdcda1;
}
.call_ad ul.f_ful1 li:nth-child(2){
    border-bottom: 1px solid #fdcda1;
    border-top: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}
.call_ad ul.f_ful1 li:nth-child(3){
    border-bottom: 1px solid #fdcda1;
    border-top: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}
.call_ad ul.f_ful1 li:nth-child(4){
    border-bottom: 1px solid #fdcda1;
    border-top: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}
.call_ad ul.f_ful1 li:nth-child(5){
    border-bottom: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
    border-left: 1px solid #fdcda1;
}

.call_ad ul.f_ful1 li:nth-child(6){
    border-bottom: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}

.call_ad ul.f_ful1 li:nth-child(7){
    border-bottom: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}

.call_ad ul.f_ful1 li:nth-child(8){
    border-bottom: 1px solid #fdcda1;
    border-right: 1px solid #fdcda1;
}


.call_ad ul.f_ful1 li div.corr{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 187px;
    height: 139px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

.call_ad ul.f_ful1 li div.oppo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 187px;
    height: 140px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transition: .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffbe5a;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
}

.call_ad ul.f_ful1 li:hover div.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}

.call_ad ul.f_ful1 li:hover div.corr{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform:  rotateY(-180deg);
    transform:  rotateY(-180deg);
}



.call_ad ul.f_ful1 li div.oppo h6{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: -45px;
}
.call_ad ul.f_ful1 li div.oppo p{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: -50px;
}


.call_ad ul.f_ful1 li p{
    margin-top: -40px;
    font-size: 16px;
    color: #ffbe5a;
    padding: 0px 10px;
}



/*7*24小时优质服务*/
.call_ser{
    background-color: #ffffff;
}

.call_ser ul{
    width: 825px;
    margin: 0 auto;
}
.call_ser{
    background-color: #ffffff;
    margin-top: 42px;
    padding-bottom: 40px;
}
.call_ser h3{
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}

.call_ser h5.p_h3{
    font-size: 18px;
    color: #666666;
}
.call_ser ul li{
    width: 400px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.call_ser ul li p{
    font-size: 14px;
    color: #888888;
    padding-top: 10px;
    text-align: justify;
}

.call_ser ul li div{
    float: left;
}

.call_ser ul li a{
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fe8900;
    box-shadow: 2px 2px 2px #bb8b42;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    margin-top: -25px;
    margin-left: 210px;
}

/*.call_ser ul li a{
    display: inline-block;
    width: 143px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fe8900;
    box-shadow: 2px 2px 2px #bb8b42;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 102px;
    margin-left: 232px;
}*/

.call_ser ul li a:hover{
    background-color: #e47e07;
}

/*.bg_div{
    width: 327px;
    height: 140px;
    background: url(../images/ser_4.png) -15px 0px no-repeat;
}*/

.call_ser ul li .bg_div span{
    display: block;
    color: #ff4b5a;
    font-size: 14px;
    margin-top: 102px;
    margin-left: 25px;
}

.call_ser .p_div2{
    width: 212px;
    height: 101px;
    margin: 10px 0px 0px -10px;
}

/*.call_ser .p_div1{
    width: 64px;
    height: 101px;
    margin-top: 39px;
    margin-left: 20px;
}*/
.call_ser .p_div1{
    width: 95px;
    height: 100px;
    background: url(../images/ser1.png) no-repeat;
}

.call_ser .p_div1.p_div1_1{
    background-position: 30px 25px;
}
.call_ser .p_div1.p_div1_2{
     background-position: -385px 25px;
 }

.call_ser .p_div1.p_div1_8{
    background-position: -385px -73px;
}
.call_ser .p_div1.p_div1_3{
    background-position: 30px -77px;
}
.call_ser .p_div1.p_div1_5{
    background-position: 30px -180px;
}

.call_ser .p_div1.p_div1_7{
    background-position: 30px -275px;
}
.call_ser .p_div1.p_div1_6{
    background-position: -385px -180px;
}
.call_ser .p_div1.p_div1_9{
    background-position: -385px -280px;
}


.call_ser ul li:hover{
    box-shadow: 2px 2px 10px #d3d3d3;
    background-color: #ffffff;
}
/*
.call_ser ul li:hover .p_div1{
    width: 95px;
    height: 140px;
    background: url(../images/ser1a.png) no-repeat;
}

.call_ser ul li:hover .p_div1.p_div1_1{
    background-position: 19px 42px;
}
.call_ser ul li:hover .p_div1.p_div1_2{
    background-position: -396px 37px;
}
.call_ser ul li:hover .p_div1.p_div1_3{
    background-position: -776px 37px;
}
.call_ser ul li:hover .p_div1.p_div1_5{
    background-position: -396px -118px;
}
.call_ser ul li:hover .p_div1.p_div1_6{
    background-position: -778px -118px;
}
*/


.mlr9{
    margin-left: 9px;
    margin-right: 9px;
}


/*开通流程*/
.call_kt{}

.call_kt h3.ss_h{
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.call_kt ul.ul1 li{
    width: 195px;
    height: 150px;
    float: left;
    border-radius: 2px;
    margin-left: 100px;
}
/*.call_kt ul.ul1 li div{
    float: left;
}*/
.call_kt ul.ul1 li div.ss_div{
    width: 195px;
    height: 100px;
    text-align: center;
    background: url("../images/call_kt.png") center no-repeat;
}

.call_kt ul.ul1 li div.ss_div.ss_div1{
    background-position: 80px 20px;
}
.call_kt ul.ul1 li div.ss_div.ss_div2{
    background-position: -275px 20px;
}
.call_kt ul.ul1 li div.ss_div.ss_div3{
    background-position: -605px 20px;
}


.call_kt ul.ul1 li h5{
    font-size: 18px;
    color: #666666;
    text-align: center;
}

/*.call_kt ul.ul1 li div.ss_div img{
    margin-top: 30px;
}*/
/*
.call_kt ul.ul1 li div.ss_div1{
    width: 158px;
    height: 120px;
    padding: 0 9px;
    background-color: #f3f3f3;
}*/

.call_kt ul.ul1 li h3{
    font-size: 16px;
    color: #333333;
    margin-top: 70px;
    margin-left: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.call_kt ul.ul1 li:hover div.ss_div{
    width: 195px;
    height: 100px;
    text-align: center;
    background: url("../images/call_kt_jg.png") center no-repeat;
}

.call_kt ul.ul1 li:hover div.ss_div.ss_div1{
    background-position: 79px 19px;
}
.call_kt ul.ul1 li:hover div.ss_div.ss_div2{
    background-position: -276px 19px;
}
.call_kt ul.ul1 li:hover div.ss_div.ss_div3{
    background-position: -606px 19px;
}

.call_kt ul.ul1 li:hover h5{
    font-size: 18px;
    color: #d92763;
    text-align: center;
}



.cur_pointer:hover{
    cursor: pointer;
}






















.call_pta_div{
    height: 340px;
    background: url("../images/call_pta_div.png") no-repeat;
}




















.about_whyus{
    position: relative;
    height: 340px;
    background: url("../images/call_pta_div.png") no-repeat;
    /* background-color: #000;
     opacity: 0.8;*/
}

.about_whyus .about_whyus_title{
    position: relative;
}

.about_whyus .about_whyus_title h3{
    font-size: 46px;
    color: #7c21fb;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 510px;
}

.about_whyus .about_whyus_title h5{
    font-size: 30px;
    color: #bcb7bf;
    text-align: center;
    padding-top: 50px;
}





.about_whyus .about_lunbo{
    z-index: 99;
    position: absolute;
    top: -25px;
    left: 205px;
    width: 583px;
    height: 397px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px 5px #e3e6e8;
    border-radius: 20px;
}

.about_whyus .about_lunbo .about_lunbo_img{
    width: 90px;
    height: 330px;
    line-height: 330px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 90px;
}

.about_whyus .about_lunbo .about_lunbo_wz{
    width: 400px;
    margin-top: 65px;
}

.about_whyus .about_lunbo .about_lunbo_wz h5{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    position: relative;
    margin-left: 40px;
}

.about_whyus .about_lunbo .about_lunbo_wz h5:after{
    position: absolute;
    top: 40px;
    left: 2px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #d92763;
}

.about_whyus .about_lunbo .about_lunbo_wz p{
    font-size: 14px;
    color: #666666;
    height: 135px;
    margin-top: 60px;
    padding: 0px 40px;
    text-align: justify;
    line-height: 24px;
}

.about_whyus .about_lunbo .about_lunbo_wz a{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #d92763;
    color: #d92763;
    font-size: 14px;
    margin-left: 40px;
}

.about_whyus .about_lunbo .about_lunbo_wz p span{
    font-size: 16px;
    color: #333333;
}

.about_whyus .about_lunbo .about_lunbo_wz a img{
    margin-left: 450px;
    margin-top: 15px;
}








.about_whyus .picScroll-left1 .hd1{
    position: relative;
}



.about_whyus .picScroll-left1:hover .hd1 .prev,.about_whyus .picScroll-left1:hover .hd1 .next{
    opacity: 1;
}

.about_whyus .picScroll-left1 .hd1 .prev{
    z-index: 100;
    opacity: 1;
    width: 28px;
    height: 56px;
    display: inline-block;
    position: absolute;
    top: 320px;
    left: 700px;
    background: url("../images/lb_left1.png") no-repeat;
}

.about_whyus .picScroll-left1 .hd1 .next{
    z-index: 100;
    opacity: 1;
    width: 28px;
    height: 56px;
    display: inline-block;
    position: absolute;
    top: 320px;
    right: 235px;
    background: url("../images/lb_right1.png") no-repeat;
}

.about_whyus .picScroll-left1 .hd1 a.next:hover{
    width: 28px;
    height: 56px;
    display: inline-block;
    background: url("../images/lb_right_jg1.png") no-repeat;
}

.about_whyus .picScroll-left1 .hd1 a.prev:hover{
    width: 28px;
    height: 56px;
    display: inline-block;
    background: url("../images/lb_left_jg1.png") no-repeat;
}




.call_ser h3{
    font-size: 24px;
    color: #d92763;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 40px;
}


.call_ser h3.xyd_ab:before{
    position: absolute;
    top: 48px;
    left: 380px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.call_ser h3.xyd_ab:after{
    position: absolute;
    top: 48px;
    right: 385px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}













.about_whyus .picScroll-left1 .hd1 ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
    position: absolute;
    top: 390px;
    left: 425px;
    z-index: 100;
}

.about_whyus .picScroll-left1 .hd1 ul li {
    float: left;
    width: 20px;
    height: 2px;/*20 4*/
    overflow: hidden;
    margin-right: 10px;
    text-indent: -999px;
    cursor: pointer;
    background: url("../images/icoCircle1.png") 0 -2px no-repeat;
}

.about_whyus .picScroll-left1 .hd1 ul li.on {
    background-position: 0 0;
}




.djdz_div{
    height: 140px;
    background: url("../images/djdz_div.png") no-repeat;
    position: relative;
}

.djdz_div a{
    position: absolute;
    bottom: 20px;
    right: 185px;
    display: inline-block;
    width: 118px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d92763;
    border-radius: 20px;
    color: #d92763;
    text-align: center;
    font-size: 16px;
}





.choose_pt h3{
    font-size: 24px;
    color: #d92763;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;
}


.choose_pt h3.xyd_ab:before{
    position: absolute;
    top: 8px;
    left: 255px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.choose_pt h3.xyd_ab:after{
    position: absolute;
    top: 8px;
    right: 260px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}






.call_kt h3{
    font-size: 24px;
    color: #d92763;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}


.call_kt h3.xyd_ab:before{
    position: absolute;
    top: 8px;
    left: 415px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}

.call_kt h3.xyd_ab:after{
    position: absolute;
    top: 8px;
    right: 420px;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #d92763;
    border-radius: 50%;
}